body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: black;
 font-family: 'Monserrat', Arial, Helvetica, sans-serif;
 
}

#root {
  margin: 0;
  position: relative;
  min-height: 100vh;

}

